<div class="flex flex-col text-center gap-5 p-10">
  <h1 class="text-xl font-semibold">ログイン</h1>
</div>
<div class="user-form-wrapper">
  <%= form_with url: login_path, local: true do |form| %>
    <div class="signup-and-login-field-wrapper">

      <label>メールアドレス</label>
      <%= form.text_field :email, class: "signup-and-login-field", autocomplete: "email", autocorrect: "off", autocapitalize: "none" %>
      <label>パスワード</label>
      <%= form.password_field :password, class: "signup-and-login-field", autocomplete: "current-password", autocorrect: "off", autocapitalize: "none" %>

      <%= form.submit "ログイン", class: "basic-btn" %>
    </div>
  <% end %>
</div>

<p style="text-align: center; margin-top: 10px;">
  会員登録は<%= link_to("こちら", new_user_path, style: "color: rgb(113, 199, 235);") %>
</p>
<p style="text-align: center; margin-top: 10px;">
  パスワードをお忘れの場合は<%= link_to("こちら", password_forgot_path, style: "color: rgb(113, 199, 235);") %>
</p>
