<div class="flex flex-col text-center gap-5 p-10">
  <h1 class="text-xl font-semibold">プロフィール設定</h1>
</div>
<div class="profile-wrapper">
  <%= image_tag current_user.icon.variant(:large), class: "bg-gray-300 rounded-full" if current_user.icon.attached? %>
  <div class="">
    <%= form_with model: @user, method: :patch, local: true do |form| %>
      <div class="grid gap-1">
      <%= form.file_field :icon, id: 'file-input' %>
        <label class="font-bold">名前</label>
        <%= form.text_field :name, value: @user.name, class: "basic-form" %>
        <label class="font-bold">自己紹介</label>
        <%= form.text_area :profile, value: @user.profile, class: "basic-form" %>
        <%= form.submit "この内容で保存する", class: "basic-btn" %>
      </div>
    <% end %>
  </div>
</div>
