<div class="signup-header">
  <h1><%= link_to("Gyraph", "/", class: "gyraph-logo", style: "color: white;     color: white; width: 140px; padding: 25px; margin: 0 auto;")%></h1>
  <div>
    <%= image_tag("gyraph_sphere", width: "60", height: "60") %>
  </div>
  <h2>Gyraphへようこそ！</h2>
  <p>無料の新規登録でGyraphをはじめましょう。</p>
</div>
<div class="user-form-wrapper">
  <%= form_with model: @user, local: true do |form| %>
    <div class="signup-field-wrapper">
      <label>名前</label>
      <%= form.text_field :name, class: "signup-field" %>
      <label>メールアドレス</label>
      <%= form.text_field :email, class: "signup-field" %>
      <label>パスワード</label>
      <%= form.password_field :password, class: "signup-field" %>

      <%= form.submit "新規登録", class: "basic-btn" %>
    </div>
  </div>
<% end %>
