<div class="signup-header">
  <%= link_to("Gyraph", "/", class: "gyraph-logo", style: "color: white;     color: white; width: 140px; padding: 25px; margin: 0 auto; font-size: 30px;")%>
  <div>
    <%= image_tag("gyraph_sphere", width: "60", height: "60") %>
  </div>
  <h1 style="font-size: 24px;">Gyraphへようこそ！</h1>
  <p>無料の新規登録でGyraphをはじめましょう。</p>
</div>
<div class="user-form-wrapper">
  <%= form_with model: @user, local: true do |form| %>
    <div class="signup-field-wrapper">
      <label>名前</label>
      <%= form.text_field :name, class: "signup-field" %>
      <label>メールアドレス</label>
      <%= form.text_field :email, class: "signup-field" %>
      <label>パスワード</label>
      <%= form.password_field :password, class: "signup-field" %>

      <%= form.submit "新規登録", class: "basic-btn" %>
    </div>
  <% end %>
</div>

<p style="text-align: center; margin-top: 10px;">
  すでにアカウントをお持ちの場合は<%= link_to("こちら", login_path, style: "color: rgb(113, 199, 235);") %>からログイン
</p>
