<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl justify-normal p-2 px-6" aria-label="Global">
    <div class="flex flex-1 items-center gap-x-3">
      <%= link_to("/", class: "flex gap-x-2 -m-1.5 p-1.5") do %>
        <%= image_tag("gyraph_sphere.png", class: "h-8 w-auto") %>
        <div class="text-xl font-semibold">
          Gyraph
        </div>
      <% end %>
    </div>
    <% if current_user %>
      <div class="flex gap-x-12 items-center">
        <div class="hidden md:flex gap-x-12 md:items-center">
          <%= link_to("日誌を書く", new_practice_record_path, class: "text-sm font-semibold leading-6 text-gray-900") %>
          <%= link_to("日誌一覧", practice_records_path, class: "text-sm font-semibold leading-6 text-gray-900") %>
        </div>
        <%= render 'shared/header_toggle' %>
        <%= image_tag "calendar.png", style: "width: 30px; cursor: pointer;"%>
      </div>
    <% else %>
      <div class="flex gap-x-12">
        <div class="flex gap-x-12 items-center">
          <%= link_to("ログイン", login_path, class: "text-sm font-semibold leading-6 text-gray-900") %>
          <%= link_to("新規登録", signup_path, class: "text-sm font-semibold leading-6 text-gray-900") %>
        </div>
      </div>
    <% end %>
  </nav>
</header>
