<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-normal p-2 px-8" aria-label="Global">
    <div class="flex flex-1">
      <%= link_to("/", class: "-m-1.5 p-1.5") do %>
        <%= image_tag("gyraph_sphere", class: "h-8 w-auto") %>
      <% end %>
    </div>
    <div class="hidden lg:flex gap-x-12 lg:items-center">
      <%= link_to("いいねした日誌", "#", class: "text-sm font-semibold leading-6 text-gray-900") %>
      <%= link_to("日誌を書く", "#", class: "text-sm font-semibold leading-6 text-gray-900") %>
      <%= link_to 'ログアウト', logout_path, data: { controller: 'logout', action: 'click->logout#logout' }, class: 'text-sm font-semibold leading-6 text-gray-900' %>

      <%= render 'shared/header_toggle' %>
    </div>
  </nav>
</header>
