<!DOCTYPE html>
<html>
  <head>
    <title>PracticeRecordRails7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render("shared/basic_header")%>

    <% if flash[:alert] %>
      <%= render 'shared/alert_toast' %>
    <% elsif flash[:success] %>
      <%= render 'shared/success_toast' %>
    <% end %>

    <div class="basic-background">
      <%= yield %>
    </div>
  </body>
</html>
